body{
margin:0;
font-family:Arial;
background:#0b0b12;
color:white;
text-align:center;
}

header{
padding:40px;
}

.products{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:#151522;
padding:15px;
border-radius:12px;
width:250px;
}

.card img{
width:100%;
border-radius:10px;
}

a,button{
display:inline-block;
margin-top:10px;
padding:10px 20px;
background:linear-gradient(90deg,#7b2cff,#00d2ff);
color:white;
text-decoration:none;
border:none;
border-radius:8px;
cursor:pointer;
}

.product{
padding:40px;
}

footer{
margin-top:40px;
opacity:0.6;
}
